*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
 font-family: 'Oswald', sans-serif;
 line-height: 1.4;
}
a{
  color: red;
  text-decoration: none;
}

.itemImage{
  max-width: 200px;
  max-height: 200px;
}